Stanley B. Lippman, Josée Lajoie, Barbara E. Moo - C++ Primer-Addison-Wesley Professional (2012).pdf
Bruce Sutherland (auth.) - C++ Game Development Primer-Apress (2014).pdf
(Developer's Library) Stephen Prata - C Primer Plus-Addison-Wesley Professional (2013).pdf
